body {
    margin: 0;
    padding: 0;
}

.App {
    margin-top: 44px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

// navbar
.navbar {
    background-color: #1c1e26;
    border-bottom: 1px solid black;
    position: fixed;
    height: 45px;
    width: 100%;
    top: 0;

    .name_project {
        color: #fff;
        font-weight: 600;
    }

    .styleIcon {
        font-size: 20px;
        color: #939499;
        cursor: pointer;
    }
}

// container
.main_container {
    display: flex;
}

// component_library
.component_library {
    // background-color: #1c1e26;
    // width: 3.5%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // position: fixed;
    // left: 0;
    // height: 100vh;
    // border-top: 1px solid black;

    .styleIcon {
        font-size: 20px;
        color: #939499;
        cursor: pointer;
        padding: 15px;
    }
}

// editor_container
.editor_container {
    background-color: #15181d;
    width: 76.5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: scroll;
    margin-left: 3.5%;
}

// toolkit
.tool_config {
    background-color: #1c1e26;
    width: 20%;
    z-index: -1;
    position: fixed;
    right: 0;
    height: 100vh;
}
