body {
    margin: 0;
    padding: 0;
}

.App {
    margin-top: 44px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

// navbar
.navbar {
    background-color: #1c1e26;
    border-bottom: 1px solid black;
    position: fixed;
    height: 45px;
    width: 100%;
    top: 0;

    .name_project {
        color: #fff;
        font-weight: 600;
    }

    .styleIcon {
        font-size: 20px;
        color: #939499;
        cursor: pointer;
    }
}

// container
.main_container {
    display: flex;
}

// component_library
.component_library {
    .styleIcon {
        font-size: 20px;
        color: #939499;
        cursor: pointer;
        padding: 15px;
    }
}

// editor_container
.editor_container {
    background-color: #15181d;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: scroll;
}

.editor {
    margin-right: 68px;
}

// toolkit
.tool_config {
    background-color: #1c1e26;
    position: fixed;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    padding: 10px;
    overflow: scroll;
    width: 300px;
}

.showIcon {
    display: block;
    color: #fff;
    list-style-type: none;
}

ul.showIcon {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul > li {
    padding: 10px;
}

ul > li > i {
    padding: 10px;
}

.hideIcon {
    display: none;
}
